<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @alumno.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @alumno.apellidos %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @alumno.matricula %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @alumno.fecha_nacimiento %>
</p>

<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
